
body{
    margin: 0;
    padding:0;

}

html { 
  background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

*{
	font-style:normal;
	font-weight: normal;
	font-family: Titillium , Arial , sans-serif ;

}

/*-----------------------CONTENEUR-BACKGROUNDS------------------------*/

#conteneurnav{
	border:solid grey;
	border-style: outset;
	border-top: none;
	width: 90%;
	margin-left: auto;
 	margin-right: auto;
 	font-size: 15px;

}

#conteneurimg{
	height: 400px;
	text-align: center;

}

#conteneurimg img {
	width: 90%;
	margin-left: 0;
 	margin-right: 0	;
 	height:auto;
}

#conteneur{
	border:solid grey;
	border-style: outset;
	width: 88%;
	background-color: #DDF1FF;
	height: auto;
	min-height: 400px;
	margin-left: auto;
  	margin-right: auto;
  	padding: 1em;
  	position:relative;

}
#conteneur a:visited{
	color:blue;

}

#conteneurvidebas{
	height: 50px;

}

#conteneurfooter{
	border:solid grey;
	border-style: outset;
	border-bottom: none;
	width: 90%;
	height: auto;
	margin-left: auto;
 	margin-right: auto;

}

/*------------------------------FIN DES CONTENEURS-----------------------------------*/
/*-----------------------------------NAV-------------------------------------*/

nav {
	background-color:#a1ceed;
	width: auto;
	z-index: 4;
	text-align: center;

}

nav ul {
	list-style-type:none;
	display: inline-block;
	margin-left:-40px;

}

nav ul li {
	display: inline-block;
	background-color:#a1ceed;

}

nav ul li a {
	display:block;
	width:150px;
	color:black;
	text-decoration:none;
	padding: .55em;
	text-align: center;

}

nav ul li a:hover {
 	color:white;
 	background-color: #666666;

}

 nav ul li ul {
 	display:none;
   	z-index: 4;

}

nav ul li:hover ul {
 	display:block;
 	margin-left: -40px;
 	width:12%;

}

nav ul li ul {	
 	position:absolute;

}

/*------------------------------FIN DU NAV----------------------------------*/
/*-----------------------------------FOOTER-------------------------------------*/

footer{
	background-color: #A1ceed;
	bottom: 0;
	width: 100%;

}

footer #ouverture , footer #contact , footer #copyright{
	display: inline-block;
	width: 33%;
	vertical-align: center;

}

footer #ouverture , footer #contact{
	text-align: center;

}

footer #copyright{
	text-align: right;

}

footer #ouverture , #contact p{
	margin-top: 0px;

}

footer #ouverture p , footer #contact p{
	margin-bottom:0px;
	margin-top: 0px;

}

footer #ouverture h2{
	margin-top: 5px;
	margin-bottom: 5px;

}

/*------------------------------FIN DU FOOTER----------------------------------*/
/*-----------------------------------CA2BM-------------------------------------*/

#logoca2bm{
	width:auto ;
	text-align: center;

}

#coordonneesca2bm p, #coordonneesca2bm img{
 	padding-left:1em;

}

#carteca2bm{
	width: 25%;

}

#carteca2bm, #communes{
	display: inline-block;
	vertical-align: top;
	text-align: center;

}

#communes{
	width: 70%;

}

#com1 , #com2 ,#com3{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding-left :10px; 

}

#com2, #com3 {
	border-left: lightgrey solid 2px;

}

#competences li{
	list-style-type: none;

}

#competences li:before{
	content: "→ ";

}

 #coordomap iframe , #coordomap #coordonneesca2bm{
	display: inline-block;
	vertical-align: top;

}

#communesmobile, #competencesmobile {
	display: none;

}

/*------------------------------FIN DE LA CA2BM----------------------------------*/
/*-----------------------------------INDEX-------------------------------------*/

#accueilgauche, #avenir{
 	display: inline-block;

}

#mairie #coordonnees {
 	width: 25%;
 	vertical-align: top;

}

#mairie {
 	padding-top:3em;
 	width: 100%;

}

#mairie iframe{
 	width: 70%;

}

#mairie #coordonnees ,#mairie iframe{
	display: inline-block;
}

#accueilgauche{
 	width: 75%;

}

#mairie #coordonnees div p{
 	margin: 0;

}

#avenir{
	margin-top: 1em;
	padding: 1em;
	width: 20%;
	border: solid;
	vertical-align: top;
	border-radius: 10px;

}

/*------------------------------FIN DE L'INDEX----------------------------------*/
/*-----------------------------------ELUS-------------------------------------*/

.container {
 	position: relative;
 	width: 18%;
  	display:inline-block;
  	margin: 10px;

}

.image {
  	display: block;
  	width: 100%;
  	height: auto;

}

.overlay {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: grey;
  	overflow: hidden;
  	width: 100%;
  	height: 0;
  	transition: .5s ease;

}

.container:hover .overlay {
	height: 100%;

}

.text {
  	white-space: nowrap; 
  	color: white;
  	font-size: 20px;
  	position: absolute;
  	overflow: hidden;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;

}

#élus{
	width:100%;
	padding-bottom:10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

#élus img{
	width: 100%;

}

#elusmobile {
	display: none;
}

/*------------------------------FIN DES ELUS----------------------------------*/
/*-----------------------------------DECHETS-------------------------------------*/

#dechetterie #lieu, #dechetterie #un,  #dechetterie #deux  {
	display: inline-block;

}

#dechetterie #un, #dechetterie #deux {
	display: inline-block;
	margin: 1em;
	padding-left: 1em;
	text-align: center;

}

 #un , #deux , #fermeture {
	text-align: center;

} 

#dechetterie #heures{
	text-align: center;

}

#dechetterie h3{
	padding-left:1em; 
	margin: 0px;

}

#dechetterie #deux {
	border-left: solid lightgrey ;

}

#dechetterie #adresse {
	text-align: left;

}

#dechetterie #lieu{
	vertical-align: top;

}

#dechetterie img{
	vertical-align: top;

}

#dechetterie h3{
	padding-left: 8em;
}

#dechetterie2 {
	text-align: center;
}

#dechetterie #attention h3{
	padding-left:0em; 
	margin: 0px;

}

#ramassagedechet li{
	list-style-type: none;

}

#ramassagedechet li:before{
	content: "→ ";

}

/*------------------------------FIN DES DECHETS----------------------------------*/
/*-----------------------------------RESULTAT ELECTIONS-------------------------------------*/

#resultatelection1 p,#resultatelection1 img{
	display: inline-block;
	vertical-align: top;

}

#resultatelection1 p{
	width: 70%;
	margin-left:1em; 

}

#resultatelection1 img{
	width: 20%;
	position: right;

}

#resultatelection1{
	margin: 1em;

}

#resultatelection2 table{
    border-collapse: collapse;
    text-align: center;
    margin-left:auto;
	margin-right: auto;
	overflow: auto;

}

#resultatelection2 th,#resultatelection2 tr,#resultatelection2 td{
	border: 1px solid black;
	width: 10%;
	height: 50px;

}

#resultatelection2 {
	width: 100%;
	text-align: center;

}

#resultatelection2 th{
	background-color: grey;

}

#resultatelection2 td{
	background-color: lightgrey;

}

#resultatelectionmobile{
	display: none;

}

/*------------------------------FIN DES RESULTAT ELECTIONS----------------------------------*/
/*-----------------------------------ETAT CIVIL-------------------------------------*/

#demarchesetatcivil li {
	list-style-type: none;

}

#demarchesetatcivil li:before{
	content: "→ ";

}

/*------------------------------FIN DE L'ETAT CIVIL----------------------------------*/
/*-----------------------------------LISTES ELECTORALES-------------------------------------*/


#listeselectorales h3:before {
	content: "→ ";

}

#listeselectorales ul {
	margin: 1em;

}

/*------------------------------FIN DES LISTES ELECTORALES----------------------------------*/
/*-----------------------------------ANNUAIRE-------------------------------------*/

#annuaire table{
    border-collapse: collapse;
    text-align: center;
	width: 100%;

}

#annuaire th,#annuaire tr,#annuaire td{
	border: 1px solid black;
	width: 30%;
	height: 50px;

}

#annuaire {
	width: 100%;
	text-align: center;
	
}

#annuaire th{
	background-color: grey;

}

#annuaire td,#annuaire tr{
	background-color:lightgrey; 

}

#utile {
	width: auto;
	margin-bottom: 2em;

}
 

#utile img{
	width: 75%;
	padding-bottom: 5px;

}
/*------------------------------FIN ANNUAIRE---------------------------------*/
/*-----------------------------------VILLAGE EN PHOTO-------------------------------------*/


.voile{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	display: none;

}

.lightbox{
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	border: 20px solid black;
	margin-left: -340px;
	margin-top: -233px;
	background-color: black;
	display: none;

}

.fleche{
	position: absolute;
	color: white;
	font-family: Arial black;
	font-size: 80px;
	display: none;
	align-self: center;

}

.ancreFleche{
	width: 140px;
	height: 100%;
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	display: inline-flex;
	cursor: pointer;

}

.ancreFleche:hover .fleche{
	display: block;

}

.droite{
	right: 40px;

}

.ancredroite{
	right: 0px;

}

.photos img{
	max-height: 150px;

}

.photofiltre{
	max-height: 500px;

}

/*------------------------------FIN VILLAGE EN PHOTO---------------------------------*/
/*-----------------------------------DEMARCHES-------------------------------------*/

#famille p , #famille a , #famille h2, #sante p , #sante a , #sante h2, #travail p , #travail a , #travail h2, #papiers p , #papiers a , #papiers h2, #logement p , #logement a , #logement h2{
	margin: 0.25em;

}

#famille li , #sante li, #travail li, #papiers li, #logement li{
	padding-bottom: 1em;

}

#famille ul , #sante ul , #travail ul , #papiers ul , #logement ul {
	list-style-type: none;

}

#famille, #sante, #travail, #papiers, #logement{
	border:solid 2px grey;
	margin-bottom: 1em;

}

#boutons {
	vertical-align: top;
	width: 20%;

}
#boutons input {
	width: 100%;
	height: 30px;

}

#demarches {
	width: 75%;
	margin-left: 3em;
	min-height: 650px;

}

#boutons, #demarches {
	display: inline-block;

}

/*------------------------------FIN DEMARCHES---------------------------------*/
/*------------------------------RPI---------------------------------*/

#widehem, #halinghen{
	text-align: center;
	width: 49%;
	display: inline-block;
	vertical-align: top;

}

#widehem img, #halinghen img, #leturne img, #frencqmairie img, #frencqcp img{
	max-height:250px; 

}
#leturne, #frencqmairie, #frencqcp{
	text-align: center;
	width: 32%;
	display: inline-block;
	vertical-align: middle;	
}


/*-----------------------------------FIN RPI-------------------------------------*/
/*-----------------------------------ASSOCIATIONS-------------------------------------*/

#assos table {
	width: 100%;
	text-align: center;
	border: solid 1px black;
	margin-bottom: 1em;

}

#assos td{
	width: 33%;

}

/*-----------------------------------FIN ASSOS-------------------------------------*/
/*-----------------------------------COMMERCANT-------------------------------------*/

#commerces, #artisants{
	display: inline-block;
	width: 40%;
	min-height: 400px;
	vertical-align: top;
	padding: 2em;
	padding-top: 0em;

}

#commerces{
	border-right: solid grey 2px;

}

.commerçant, .artisants{
	width: 100%;
	border-bottom: solid grey 1px;

}

/*------------FIN COMMERCANT ---------------------*/
/*---------------------REALISATION-----------------*/

.avant, .apres {
	display: inline-block;
	width: 49.5%;
	text-align: center;
}

.avant img, .apres img{	
	max-width: 70%;
	max-height: 250px;
	vertical-align: middle;

}

#photos img {
	max-width:250px;

}

/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/
/* ----------------------- MEDIAS QUERIES -----------------------*/

@media(-webkit-min-device-pixel-ratio:2 ){
}

 /*****Medias queries max w640******/

@media only screen and (max-device-width : 640px){

	/* Talle du conteneur */

	#conteneurimg {
		height: 100px;

	}

	footer #ouverture , footer #contact , footer #copyright{
		width: 100%;

	}

	/*------------------menu ---------------------*/

	nav ul {
		display:block;
		text-align: center;
		margin: 0;
		padding: 0;	

	}

	nav ul li {
		display: block;
		width: 100%;
	
	}

	nav ul li a {
		display:block;
		width:auto;
		text-align: center;
	
	}

	nav ul li a:hover {
		color:white;
		background-color: #666666;

	}

	nav ul li:hover ul {
		display:block;
		margin-left: 0px;
		width:90%;

	}

	#sousmenu:before{
		content: "↓ ";

	}

	#sousmenu:after{
		content: " ↓";

	}

	/*------------------FIN MENU ---------------------*/
	/*------------------INDEX ---------------------*/

	#avenir{
		width: auto;
	
	}

	#accueilgauche{
		width: 100%;	

	}

	#mairie #coordonnees {
	 	width: 100%;
	 	padding-bottom: 1em;
	
	}

	#mairie {
	 	padding-top:0em;
	
	}

	#mairie iframe {
	 	width:auto;
	
	}

	/*------------------FIN MENU ---------------------*/
	/*------------------ELUS ---------------------*/

	#élus {
	  	display: none;

	}

	#elusmobile{
		display: block;

	}

	#elusmobile h3{
		margin: 0;

	}

	#elusmobile p{
		margin: 0;
		padding-bottom: .5em;

	}

	/*------------------FIN ELUS ---------------------*/
	/*------------------RESULTAT ELECTIONS ---------------------*/
	#resultatelection2 table{
		display: none;
	
	}

	#resultatelection1 img{
		width: 100%;

	}
	#resultatelection1 p{
		width: 100%;
		margin-left:0em; 

	}

	#resultatelectionmobile{
		display: block;

	}

	/*------------------FIN INDEX ---------------------*/
	/*------------------CA2BM---------------------*/

	#com1 , #com2 , #com3 , #competences{
		display: none;

	}

	#communesmobile, #competencesmobile {
		display: block;

	}

	#carteca2bm{
		width: auto;

	}

	#coordomap {
		width: auto;

	}

	#coordomap iframe{
		width: 100%;

	}

	/*------------------FIN CA2BM ---------------------*/
	/*------------------DEMARCHES---------------------*/
	
	#boutons{
		width: 100%;
		display: block;
	
	}

	#famille , #sante , #travail , #papiers , #logement {
		width: 100%; 

	}

	#demarches {
		width: 100%;
		margin-left: 0em;
	
	}


	#famille h3:before, #sante h3:before , #travail h3:before , #papiers h3:before , #logement h3:before  {
		content: "→ ";

	}

	#famille h2:before , #sante h2:before, #travail h2:before, #papiers h2:before, #papiers h2:before, #logement h2:before {
		content: none;

	}

	/*------------------FIN DEMARCHES ---------------------*/
	/*-----------------------------------DECHETS-------------------------------------*/

	#dechetterie h3{
		padding-left:0em; 
		margin: 0px;

	}

	#dechetterie21 img{
		width: 100%; 	

	}

	#dechetterie h3{
		padding-left: 0em;

	}

	#dechetterie2 iframe{
		width: 100%;

	}

	#dechetterie #attention h3{
		padding-left:0em; 
		margin: 0px;

	}

	#ramassagedechet li{
		list-style-type: none;

	}

	#ramassagedechet li:before{
		content: "→ ";

	}

	/*------------------------------FIN DES DECHETS----------------------------------*/
	/*------------------------------ANNUAIRE----------------------------------*/

	#annuaire #tableau {
		overflow: scroll;
		
	}

	/*------------------------------FIN DE L'ANNUAIRE----------------------------------*/

	.photofiltre{
		max-height: 200px;

	}

	.lightbox{
		top: 50%;
		left :95%;

	}


	.ancreFleche{
		width: 70px;
		height: 100%;
		padding: 0;

	}
}

 /*****IPAD******/
@media only screen and (min-device-width : 645px) and (max-device-width : 1024px){

	#conteneurimg {
		height: 200px;
	
	}

	footer #ouverture , footer #contact , footer #copyright{
		width: 100%;

	}

	/*-------------------------INDEX--------------------------*/

	#accueilgauche{
		width: 100%;
	
	}

	#avenir{
		width: auto;

	}

	#coordoonees{
		overflow-wrap: break-word;

	}

	#mairie #coordoonnees{
		width: 33%

	}

	#mairie iframe {
		width: 66%;
		height: 350px;

	}

		/*-------CA2BM------------*/

	#carteca2bm{
		display: none;

	}

	#communes {
		width: 100%;

	}

	#coordomap iframe{
		width: 100%;

	}

		/*--------------Demarches------------*/

	#boutons{
		width: 40%;
		display: block;

	}

	#famille , #sante , #travail , #papiers , #logement {
		width: 100%; 

	}

	#demarches {
		width: 50%;
		margin-left: 0em;

	}


	#famille h3:before, #sante h3:before , #travail h3:before , #papiers h3:before , #logement h3:before  {
		content: "→ ";

	}

	#famille h2:before , #sante h2:before, #travail h2:before, #papiers h2:before, #papiers h2:before, #logement h2:before {
		content: none;

	}

	#boutons , #demarches {
		display: inline-block;

	}
}
